<!-- templates/avoir_list.html -->

{% extends 'layout/base.html' %}

{% block title %}Liste des Avoirs{% endblock %}

{% block content %}
    <h2>Liste des Avoirs</h2>

    <table class="table table-striped">

            <thead style="background-color: #007BFF; color: #FFFFFF;">
            <tr>
                
                <th scope="col">CLIENT</th>
                <th scope="col">MONTANT</th>
                <th scope="col">DATE AJOUT</th>
                <th scope="col">CREATEUR</th>
                <th scope="col">FACTURE</th>
            </tr>
        </thead>
        <tbody>
            {% for avoir in avoirs %}
                <tr>
                    
                    <td>{{ avoir.client.nom }}-{{avoir.client.prenom}}</td>
                    <td>{{ avoir.montant }}</td>
                    <td>{{ avoir.date_ajout |date:"d-m-Y" }}</td>
                    <td>{{ avoir.user }}</td>
                    <td>
                        {% if avoir.facture %}
                            <a href="{{ avoir.facture.url }}" target="_blank">Voir la facture</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
