{% extends 'layout/base.html' %}

{% block title %}Liste des Avoirs{% endblock %}
{% block extra_css %}
<!-- Add this to your head section -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block content %}
<style>
    #consommationTable thead {
    position: sticky;
    top: 0;
    background-color: #007BFF;
    color: #FFFFFF;
}
#consommationTable {
    border-collapse: collapse;
}

#consommationTable th, #consommationTable td {
    border: 1px solid #ddd; /* Choisissez une couleur adaptée */
    padding: 8px; /* Ajustez selon vos besoins */
}
#consommationTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Choisissez une couleur de fond */
}

#consommationTable th, #consommationTable td {
    width: 150px; /* Ajustez selon vos besoins */
}
#consommationTable {
    overflow-x: auto;
}

/*  duplication style pour credit  */
#creditTable thead {
    position: sticky;
    top: 0;
    background-color: #007BFF;
    color: #FFFFFF;
}
#creditTable {
    border-collapse: collapse;
}

#creditTable th, #creditTable td {
    border: 1px solid #ddd; /* Choisissez une couleur adaptée */
    padding: 8px; /* Ajustez selon vos besoins */
}
#creditTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Choisissez une couleur de fond */
}

#creditTable th, #creditTable td {
    width: 150px; /* Ajustez selon vos besoins */
}
#creditTable {
    overflow-x: auto;
}

    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination-inner {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

    .pagination-link {
        color: #333;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 3px;
    }

    .current-page {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 3px;
    }
</style>

<div class="container mt-4">
    {% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
 {% endif %}
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="liste-credits-tab" data-toggle="tab" href="#liste-credits" role="tab"
                aria-controls="liste-credits" aria-selected="true">LISTE DES CREDITS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="credit-periode-tab" data-toggle="tab" href="#credit-periode" role="tab"
                aria-controls="credit-periode" aria-selected="false">ETAT PERIODE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="consomation-periode-tab" data-toggle="tab" href="#consomation-periode" role="tab"
                aria-controls="consomation-periode" aria-selected="false">ETAT MENSUEL DES CREDITS</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="consomation2-periode-tab" data-toggle="tab" href="#consomation2-periode" role="tab"
                aria-controls="consomation2-periode" aria-selected="false">ETAT MENSUEL DES CONSOMMATIONS</a>
        </li>
        
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="liste-credits" role="tabpanel" aria-labelledby="liste-credits-tab">
            <h1 class="text-center mb-4">LISTE DES CREDITS</h1>
            <table class="table table-striped">
                <!-- Insérer le contenu de la liste des crédits ici -->
                <thead style="background-color: #007BFF; color: #FFFFFF;">
                    <tr>
                        <th scope="col">NOM</th>
                        <th scope="col">PRENOM</th>
                        <th scope="col">MONTANT</th>
                        <th scope="col">DATE CREATION</th>
                        <th scope="col">CREATEUR</th>
                        <th scope="col">FACTURE</th>
                        {% if user.is_superuser %}
                        <th scope="col">ACTION</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for avoir in avoirs %}
                    <tr>
                        <td>{{ avoir.client.nom|upper }}</td>
                        <td>{{ avoir.client.prenom|upper }}</td>
                       
                        <td>{{ avoir.montant }}</td>
                        <td>{{ avoir.date_ajout |date:"d-m-Y" }}</td>
                        <td>{{ avoir.user|upper }}</td>
                        <td>
                            {% if avoir.facture %}
                            <a href="{{ avoir.facture.url }}" target="_blank">VOIRE LA FACTURE</a>
                            {% else %}
                           -
                            {% endif %}
                        </td>
                        {% if user.is_superuser %}
                        <td>
                            <a href="{% url 'editer_avoir' id=avoir.id %}" class="text-warning"><i class="bi bi-pencil text-black"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="pagination">
                <div class="pagination-inner">
                    {% if avoirs.has_previous %}
                    <a class="pagination-link" href="?page=1">&laquo; First</a>
                    <a class="pagination-link" href="?page={{ avoirs.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in avoirs.paginator.page_range %}
                    {% if num == avoirs.number %}
                    <span class="current-page">{{ num }}</span>
                    {% else %}
                    <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if avoirs.has_next %}
                    <a class="pagination-link" href="?page={{ avoirs.next_page_number }}">Next</a>
                    <a class="pagination-link" href="?page={{ avoirs.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="credit-periode" role="tabpanel" aria-labelledby="credit-periode-tab">
            <!-- Formulaire de recherche -->
            <form id="searchForm" class="mb-4" method="post" action="{% url 'compte_rendu' %}">
    {% csrf_token %}
    <div class="form-row">
        <!-- Sélection Consommation ou Avoir -->
        <div class="form-group col-md-6">
            <label for="type">{{ "recherche par  :"|upper }}</label>
            <select class="form-control" id="type" name="type">
                <option value="credit" id="credit">{{ "CREDIT" |upper }}</option>
                <option value="consommation" id="consommation">{{ "CONSOMMATION" |upper }}</option>
            </select>
        </div>
        <!-- Sélection de la famille -->
        <div class="form-group col-md-6" id="familiesGroup" style="display: none;">
            <label for="familles">{{ "FAMILLES :"|upper }}</label>
            {% for famille in familles %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="famille{{ famille.id }}" name="familles[]" value="{{ famille.id }}">
                    <label class="form-check-label" for="famille{{ famille.id }}">{{ famille.famille }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Champs de sélection de la période -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="startDate" class="sr-only">Date de début :</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Date de début" required>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="endDate" class="sr-only">Date de fin :</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Date de fin" required>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="submitSearchFormBtn">Rechercher</button>
</form>


<table class="table text-center" id="consommationTable" style="display: none;">
    <thead style="background-color: #007BFF; color: #FFFFFF;">
        <tr>
            <th>{{ "NOM" |upper }}</th>
            <th>{{ "PRENOM" |upper }}</th>
            <th>{{ "FAMILLE" |upper }}</th>
            <th>{{ "DESIGNATION" |upper }}</th>
           
            <th>{{ "Prix Achat HT" |upper }}</th>
            <th>{{ "Prix Vente ttc" |upper }}</th>
            <th>{{ "Date CONSOMMATION" |upper }}</th>
            <th>{{ "facture" |upper }}</th>
            
        </tr>
    </thead>
    <tbody>
        <!-- Les lignes de consommations seront ajoutées ici -->
    </tbody>
</table>

<table class="table text-center" id="creditTable" style="display: none;">
    <thead style="background-color: #007BFF; color: #FFFFFF;">
        <tr>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>MONTANT</th>
            <th>DATE CREDIT</th>
            <th>FACTURE</th>
        </tr>
    </thead>
    <tbody>
        <!-- Les lignes de crédits seront ajoutées ici -->
    </tbody>
</table>


        </div>
        
        <div class="tab-pane fade" id="consomation-periode" role="tabpanel" aria-labelledby="consomation-periode-tab">


            <!-- Tableau pour afficher la liste des consommations entre les deux dates -->
            <div class="row">
               
                   

                <div class="col-md-12">
                    <h2 class="text-center mb-4">ETAT MENSUEL DES CREDITS</h2>
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                           
                                <thead style="background-color: #007BFF; color: #FFFFFF;">
                                <tr>
                                    <th scope="col">MOIS</th>
                                    <th scope="col">NB CREDIT</th>
                                    <th scope="col">ETAT </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item2 in data2 %}
                                <tr>
                                    <td>{{ item2.mois }}-{{ item2.annee }}</td>
                                    <td>{{ item2.credits |length }}</td>
                                    <td>
                                        <a href="#" class="text-primary download-icon2"   data-periode="{{ item2.mois }}-{{ item2.annee }}">
                                            <i class="bi bi-download"></i>
                                        </a>
                                       
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- dernier Onglet -->

        <div class="tab-pane fade" id="consomation2-periode" role="tabpanel" aria-labelledby="consomation2-periode-tab">


            <!-- Tableau pour afficher la liste des consommations entre les deux dates -->
            <div class="row">
                
               
                <table class="table table-bordered text-center">
                    <thead style="background-color: #007BFF; color: #FFFFFF;">
                      <tr>
                        <th scope="col">PERIODE</th>
                        {% for famille_data in data.0.consommations_familles %}
                        <th scope="col">{{ famille_data.famille }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in data %}
                        <tr>
                          <td>{{ item.mois }}-{{ item.annee }}</td>
                          {% for famille_data in item.consommations_familles %}
                                        {% if famille_data.nombre_consommations == 0 %}
                                        <td>0</td>
                                    {% else %}
                                    <td>
                                        ({{ famille_data.nombre_consommations }})
                                        
                                        <a href="#" class="text-primary download-icon"  data-famille-id="{{ famille_data.famille.id }}" data-famille-periode="{{ item.mois }}-{{ item.annee }}">
                                            <i class="bi bi-download"></i>
                                        </a>
                                        
                                    </td>
                                    
                                    {% endif %}
                      
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                  
                  
                
            </div>

        </div>

        

    </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Add this to your head section -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    function formatDate(dateString) {
    // Convertir la chaîne de date en objet Date JavaScript
    var date = new Date(dateString);
    // Extraire les composantes de la date (jour, mois, année)
    var day = date.getDate();
    var month = date.getMonth() + 1; // Les mois commencent à partir de zéro
    var year = date.getFullYear();

    // Formater la date au format dd-mm-yyyy
    return (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;
}
    $(document).ready(function () {
        // Initialize datepicker
        $('.date').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            todayHighlight: true
        });

        // Use the submit event on the form
        $('#searchForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission

            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            // Manually submit the form
            this.submit();
        });
    });







    $(document).ready(function() {
        $('#type').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === 'consommation') {
                $('#familiesGroup').show(); // Afficher le groupe de familles
            } else {
                $('#familiesGroup').hide(); // Masquer le groupe de familles
            }
        });
    });


    $(document).ready(function() {
    $('#type').change(function() {
        var selectedValue = $(this).val();
        if (selectedValue === 'consommation') {
            $('#familiesGroup').show(); // Show the families group
        } else {
            $('#familiesGroup').hide(); // Hide the families group
        }
    });

    $('#submitSearchFormBtn').click(function() {
        console.log("Clicked yes");
        var type = $('#type').val();
        console.log(type);
        var selectedFamilies = [];
        $('input[name="familles[]"]:checked').each(function() {
            selectedFamilies.push($(this).val());
        });
        console.log(selectedFamilies);
        var startDate = $('#startDate').val();
        console.log(startDate);
        var endDate = $('#endDate').val();
        console.log(endDate);

        // Send AJAX request
        $.ajax({
            url: "{% url 'search_filter' %}",
            method: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                type: type,
                families: selectedFamilies,
                startDate: startDate,
                endDate: endDate
            },
            dataType: "json",
            success: function(response) {
                if (type === 'consommation') {
                    console.log("Consommation returned");
                    $('#consommationTable').show(); // Show the consommation table
                    $('#creditTable').hide(); // Hide the credit table
                    $('#consommationTable tbody').empty(); // Clear previous data
                    console.log(response);
                    // Handle consommation type response
                    response.forEach(function(item) {
                        var row = '<tr>' +
                            '<td>' + item.client_nom + '</td>' +
                            '<td>' + item.client_prenom + '</td>' +
                            '<td>' + item.famille + '</td>' +
                            '<td>' + item.designation + '</td>' +
                            '<td>' + item.prix_achat + '</td>' +
                            '<td>' + item.prix_vente + '</td>' +        
                            '<td>' + formatDate(item.date_ajout) + '</td>' ;
                            // Vérifier si l'attribut facture n'est pas vide
                        if (item.facture) {
                            row += '<td><a href="#" class="voir-facture2" data-facture2="' + item.id + '">VOIRE LA FACTURE</a></td>';
                        } else {
                            row += '<td>-</td>';
                        }

                        row += '</tr>';
                            '<td>' + item.id + '</td>'  // Cellule cachée
                            '</tr>';
                        $('#consommationTable tbody').append(row);
                    });
                } else {
                    console.log("Credit or other type returned");
                    $('#consommationTable').hide(); // Hide the consommation table
                    $('#creditTable').show(); // Show the credit table
                    $('#creditTable tbody').empty(); // Clear previous data

                    // Handle credit type response
                    response.forEach(function(item) {
                        
                      
                        var row = '<tr>' +
                            '<td>' + item.client_nom + '</td>' +
                            '<td>' + item.client_prenom + '</td>' +
                            '<td>' + item.montant + '</td>' + 
                            '<td>' + formatDate(item.date_ajout) + '</td>' + // Formater la date 
                            '<td><a href="#" class="voir-facture" data-facture="' + item.id + '">VOIRE LA FACTURE</a></td>'+
                            '<td style="display: none;">' + item.id + '</td>' + // Cellule cachée
                            '</tr>';
                        $('#creditTable tbody').append(row);
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});


$(document).ready(function() {
    $(document).on('click', '.voir-facture', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        var factureId = $(this).data('facture');
        console.log("Facture ID:", factureId);  // Debug message
        
        // Envoyer une requête AJAX à votre vue Django avec l'identifiant de la facture
        $.ajax({
            url: "{% url 'display_facture' %}",
            type: 'GET',
            data: {
                'facture_id': factureId
            },
            xhrFields: {
                responseType: 'blob' // Spécifier le type de réponse attendu
            },
            success: function(response, status, xhr) {
    // Vérifie si l'en-tête Content-Disposition existe dans la réponse
    var contentDisposition = xhr.getResponseHeader('Content-Disposition');
    
    // Si l'en-tête existe, extrayez le nom de fichier du header
    if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
        var matches = filenameRegex.exec(contentDisposition);
        if (matches != null && matches[1]) {
            var filename = matches[1].replace(/['"]/g, '');
            
            // Créez un objet blob à partir de la réponse
            var blob = new Blob([response], { type: 'application/pdf' });
            var url = window.URL.createObjectURL(blob);
            
            // Créez un élément <a> pour télécharger le fichier PDF avec le nom du fichier renvoyé par le serveur
            var a = document.createElement('a');
            a.href = url;
            a.download = filename; // Utilisez le nom de fichier récupéré ici
            document.body.appendChild(a);
            a.click();
            
            // Libérer l'objet URL après le téléchargement
            window.URL.revokeObjectURL(url);
        }
    }
},

            error: function(xhr, errmsg, err) {
                // Gérer les erreurs ici
                console.error('Une erreur s\'est produite lors de la requête AJAX:', errmsg);
            }
        });
    });
});


/* TELECHARGER PDF SI CONSOMMATION A FACTURE OU  OIECE JOINTE */



$(document).ready(function() {
    $(document).on('click', '.voir-facture2', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        var factureId = $(this).data('facture2');
        console.log("Facture ID:", factureId);  // Debug message
        
        // Envoyer une requête AJAX à votre vue Django avec l'identifiant de la facture
        $.ajax({
            url: "{% url 'display_facture2' %}",
            type: 'GET',
            data: {
                'facture_id2': factureId
            },
            xhrFields: {
                responseType: 'blob' // Spécifier le type de réponse attendu
            },
            success: function(response, status, xhr) {
    // Vérifie si l'en-tête Content-Disposition existe dans la réponse
    var contentDisposition = xhr.getResponseHeader('Content-Disposition');
    
    // Si l'en-tête existe, extrayez le nom de fichier du header
    if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
        var matches = filenameRegex.exec(contentDisposition);
        if (matches != null && matches[1]) {
            var filename = matches[1].replace(/['"]/g, '');
            
            // Créez un objet blob à partir de la réponse
            var blob = new Blob([response], { type: 'application/pdf' });
            var url = window.URL.createObjectURL(blob);
            
            // Créez un élément <a> pour télécharger le fichier PDF avec le nom du fichier renvoyé par le serveur
            var a = document.createElement('a');
            a.href = url;
            a.download = filename; // Utilisez le nom de fichier récupéré ici
            document.body.appendChild(a);
            a.click();
            
            // Libérer l'objet URL après le téléchargement
            window.URL.revokeObjectURL(url);
        }
    }
},

            error: function(xhr, errmsg, err) {
                // Gérer les erreurs ici
                console.error('Une erreur s\'est produite lors de la requête AJAX:', errmsg);
            }
        });
    });
});







$(document).ready(function() {
    $(document).on('click', '.download-icon', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
        var familleId = $(this).data('famille-id');
        var periode = $(this).data('famille-periode');
        
        
        // Envoyer une requête AJAX à votre vue Django avec l'identifiant de la facture
        $.ajax({
            url: "{% url 'consommation_par_famille_par_mois' %}",   
            type: 'GET',
            data: {
                'famille_id': familleId,
                'periode': periode,
            },
            xhrFields: {
                responseType: 'blob' // Spécifier le type de réponse attendu
            },
            success: function(response, status, xhr) {
    // Vérifie si l'en-tête Content-Disposition existe dans la réponse
    var contentDisposition = xhr.getResponseHeader('Content-Disposition');
    
    // Si l'en-tête existe, extrayez le nom de fichier du header
    if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
        var matches = filenameRegex.exec(contentDisposition);
        if (matches != null && matches[1]) {
            var filename = matches[1].replace(/['"]/g, '');
            
            // Créez un objet blob à partir de la réponse
            var blob = new Blob([response], { type: 'application/pdf' });
            var url = window.URL.createObjectURL(blob);
            
            // Créez un élément <a> pour télécharger le fichier PDF avec le nom du fichier renvoyé par le serveur
            var a = document.createElement('a');
            a.href = url;
            a.download = filename; // Utilisez le nom de fichier récupéré ici
            document.body.appendChild(a);
            a.click();
            
            // Libérer l'objet URL après le téléchargement
            window.URL.revokeObjectURL(url);
        }
    }
},

            error: function(xhr, errmsg, err) {
                // Gérer les erreurs ici
                console.error('Une erreur s\'est produite lors de la requête AJAX:', errmsg);
            }
        });
    });
});




/* SEARCHING CREDIT PAR PERIODE USING JAVASCRIPT */



$(document).ready(function() {
    $(document).on('click', '.download-icon2', function(event) {
        event.preventDefault(); // Empêcher le comportement par défaut du lien
       
        var periode = $(this).data('periode');
        console.log(periode)
        
        
        // Envoyer une requête AJAX à votre vue Django avec l'identifiant de la facture
        $.ajax({
            url: "{% url 'credit_par_periode' %}",   
            type: 'GET',
            data: {
               
                'periode': periode,
            },
            xhrFields: {
                responseType: 'blob' // Spécifier le type de réponse attendu
            },
            success: function(response, status, xhr) {
    // Vérifie si l'en-tête Content-Disposition existe dans la réponse
    var contentDisposition = xhr.getResponseHeader('Content-Disposition');
    
    // Si l'en-tête existe, extrayez le nom de fichier du header
    if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
        var matches = filenameRegex.exec(contentDisposition);
        if (matches != null && matches[1]) {
            var filename = matches[1].replace(/['"]/g, '');
            
            // Créez un objet blob à partir de la réponse
            var blob = new Blob([response], { type: 'application/pdf' });
            var url = window.URL.createObjectURL(blob);
            
            // Créez un élément <a> pour télécharger le fichier PDF avec le nom du fichier renvoyé par le serveur
            var a = document.createElement('a');
            a.href = url;
            a.download = filename; // Utilisez le nom de fichier récupéré ici
            document.body.appendChild(a);
            a.click();
            
            // Libérer l'objet URL après le téléchargement
            window.URL.revokeObjectURL(url);
        }
    }
},

            error: function(xhr, errmsg, err) {
                // Gérer les erreurs ici
                console.error('Une erreur s\'est produite lors de la requête AJAX:', errmsg);
            }
        });
    });
});
   
</script>

{% endblock %}