{% extends 'layout/base.html' %}

{% block title %}Liste des crédits à valider{% endblock %}

{% block content %}
<style>
    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination-inner {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

    .pagination-link {
        color: #333;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 3px;
    }

    .current-page {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 3px;
    }

    .table th, .table td {
        text-align: center;
    }

    .highlight-row {
        background-color: #f39c12;
    }
</style>

<div class="container mt-4">
    <!-- Affichage des messages -->
    

    <div class="row mb-3">
        <div class="col-md-4">
            <!-- Bouton Retour avec icône -->
            <a href="javascript:history.back()" class="btn btn-outline-primary mb-4 d-flex align-items-center">
                <i class="fas fa-chevron-left me-2"></i> Retour
            </a>
        </div>
        <div class="col-md-8">
            <!-- Titre centré avec icône -->
            <h1><i class="fas fa-arrow-down"></i> Liste des consommations à valider</h1>

        </div>
    </div>
    
    <!-- Tableau des crédits à valider -->
    <table class="table table-bordered table-hover">
        <thead style="background-color: #007BFF; color: #FFFFFF;">
            <tr>
                <th>NOM</th>
                <th>PRÉNOM</th>
                <th>FAMILLE</th>
                <th>PRIX_ACHAT</th>
                <th>PRIX_VENTE</th>
                <th>DATE CREATION</th>
                <th>CREATEUR</th>
                <th>VALIDER</th>
            </tr>
        </thead>
        <tbody>
            {% for c in consommations %}
                <tr class="{% if v.client.dernier_avoir_plus_de_24_mois %}highlight-row{% endif %}">
                    <td>{{ c.client.nom|upper }}</td>
                    <td>{{ c.client.prenom|upper }}</td>
                    <td>{{ c.famille }}</td>
                    <td>{{ c.prix_achat }}</td>
                    <td>{{ c.prix_vente }}</td>
                    <td>{{ c.date_ajout|date:"d-m-Y" }}</td>
                    <td>{{ c.user }}</td>
                    <td>
                        
                            <a href="{% url 'confirmation_consommation' id=c.id %}">
                                <i class="fas fa-check text-primary" title="Valider le crédit"></i>
                            
                          
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">{{message}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
