{% extends 'layout/base.html' %}

{% block title %}Consommer Avoir{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">MODIFICATION CONSOMMER DE {{conso.client}} </h2>
            </div>
            <div class="card-body">
                <form method="post"  enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form.errors }}

                    <!-- Hidden field for logged-in user -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">UTILISATEUR :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  value="{{ request.user.username }}" readonly>
                        </div>
                    </div>

                    <!-- Hidden field for date and time of the operation -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right"> DATE :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="date" name="date"  value="{{conso.date_ajout | date:"d-m-Y" }}" readonly>
                        </div>
                    </div>

                
                    <!-- Other fields with similar styling -->
                    <div class="form-group row">
                        <label  class="col-sm-3 col-form-label text-right">DESIGNATION :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="designation" name="designation" value="{{conso.designation}}"  required  oninput="this.value = this.value.toUpperCase()">
                            
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">PRIX ACHAT HT :</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="prix_achat" name="prix_achat" step="0.01" min="0" value="{{conso.prix_achat}}"  required>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ form.montant.id_for_label }}" class="col-sm-3 col-form-label text-right">PRIX VENTE TTC :</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="prix_vente" name="prix_vente" value="{{conso.prix_vente}}" step="0.01" min="0" required>
                            {% if form.montant.errors %}
                                <div class="text-danger">{{ form.prix_vente.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row" id="factureField" style="display: none;">
                        <label for="{{ form.facture.id_for_label }}" class="col-sm-3 col-form-label text-right">FACTURE :</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="{{ form.facture.id_for_label }}" name="{{ form.facture.name }}">
                            {% if form.facture.errors %}
                                <div class="text-danger">{{ form.facture.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row" id="codeBarreField" style="display: none;">
                        <label for="{{ form.code_barre.id_for_label }}" class="col-sm-3 col-form-label text-right">CODE BARRE :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="{{ form.code_barre.id_for_label }}" name="{{ form.code_barre.name }}" value="">
                            {% if form.code_barre.errors %}
                                <div class="text-danger">{{ form.code_barre.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-primary">VALIDER</button>
                            <a href="javascript:history.back()" class="btn btn-secondary">ANNULER</a> <!-- Bouton ANNULER -->
                        </div>
                    </div>

                    <!-- Add any other fields as needed -->


                </form>
            </div>
        </div>
    </div>

{% endblock %}

    {% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function() {
    $('#{{ form.famille.id_for_label }}').change(function() {
        var familleId = $(this).val();
        $.ajax({
            url: "{% url 'fetch_is_facture' %}",
            data: {'famille_id': familleId},
            dataType: 'json',
            success: function(data) {
                var isFacture = data.is_facture;
                var isBarre = data.is_barre;  // Ajout de la vérification is_barre

                // Gérer le champ Facture
                if (isFacture) {
                    $('#factureField').show();
                    $('#{{ form.facture.id_for_label }}').prop('required', true);
                } else {
                    $('#factureField').hide();
                    $('#{{ form.facture.id_for_label }}').prop('required', false);
                }

                // Gérer le champ Code-barre
                if (isBarre) {
                    $('#codeBarreField').show();
                    $('#{{ form.code_barre.id_for_label }}').prop('required', true);
                } else {
                    $('#codeBarreField').hide();
                    $('#{{ form.code_barre.id_for_label }}').prop('required', false);
                }
            }
        });
    });
});

</script>
{% endblock %}

