{% extends 'layout/base.html' %}


{% block content %}

<h2>Appliquer une remise</h2>
<form method="post" action="{% url 'appliquer_remise' %}">{% csrf_token %}
    {{ form.as_p }}
    <h3>Produits sélectionnés :</h3>
    <ul>
    {% for product in products %}
        <li>
            <input type="checkbox" name="produits_ids" value="{{ product.id }}" checked>
            {{ product.reference }}
        </li>
    {% endfor %}
    </ul>
    <button type="submit" name="apply">Appliquer</button>
</form>
{% endblock %}