<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau Bootstrap</title>
    <!-- CSS Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <style>
  /* CSS */
.orange {
  background-color: orange; /* Couleur du texte */
}

 </style>
  </head>
<body>

<div class="container">
    <h2 class="my-4">Commandes</h2>
  
    <form action="{% url 'comparateur_home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="pdf_file">Sélectionnez un fichier PDF :</label>
            <input type="file" class="form-control-file" id="pdf_file" name="pdf_file">
        </div>
        <button type="submit" class="btn btn-primary">Charger le PDF</button>
    </form>
</div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Commande</th>
                    <th scope="col">Référence</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Similaire</th>
                    <th scope="col">Indice</th>
                    <th scope="col">Prix Catalogue</th>
                    <th scope="col">Prix Facture</th>
                    <th scope="col">Difference</th>
                    
                    
                   
                </tr>
            </thead>
            <tbody>
                {% for c in formatted_commands %}
                <tr>
                    <td>{{ c.Commande }}</td>
                    <td>{{ c.Référence }}</td>
                    <td>{{ c.Produit }}</td>
                    <td>{{ c.Similaire }}</td>
                    <td>{{ c.Valeur }}</td>
                    <td>{{ c.Prix }}</td>
                    <td>{{ c.Prix_Facture }}</td>
                   
                    <!-- HTML -->
                    
                    <!-- HTML -->
                  <td class="{% if c.Diff != 0 %}orange{% endif %}">{{ c.Diff }}</td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- JavaScript Bootstrap (optionnel, pour les fonctionnalités avancées) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
