{% extends 'layout/base.html' %}
{% load tz %}

{% block content %}
    <div class="container mt-5">
        <form method="post" id="saisie_vente_form">
            {% csrf_token %}
            
            <div class="form-group row mt-3">
                <div class="col-sm-9">
                    <button type="button" class="btn btn-info" id="ajouter_ligne">Ajouter une ligne</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="nom">{{ "Nom :" | upper }}</label>
                    <input type="text" class="form-control" id="nom" name="nom" oninput="this.value = this.value.toUpperCase()" required>
                    <div class="invalid-feedback">Veuillez remplir ce champ.</div>
                </div>
                <div class="col-md-6">
                    <label for="prenom">{{ "Prénom :" | upper }}</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" oninput="this.value = this.value.toUpperCase()" required>
                </div>
            </div>
            <!-- Première ligne de vente -->
            <div class="form-row mt-3">
                <div class="col-md-3">
                    <label for="designation">{{ "Désignation :" | upper }}</label>
                    <input type="text" class="form-control" name="designation" placeholder="Désignation du produit" oninput="this.value = this.value.toUpperCase()" required>
                </div>
                <div class="col-md-3">
                    <label for="code_barre">{{ "Code barre :" | upper }}</label>
                    <input type="text" class="form-control" name="code_barre" placeholder="Code barre" required>
                </div>
                <div class="col-md-3">
                    <label for="prix_vente">{{ "Prix vente :" | upper }}</label>
                    <input type="text" class="form-control prix-input" name="prix_vente" required>
                </div>
                <div class="col-md-3">
                    <label for="prix_achat">{{ "Prix achat :" | upper }}</label>
                    <input type="text" class="form-control prix-input" name="prix_achat"  required>
                </div>
            </div>
            <!-- Deuxième ligne de vente (initiallement cachée) -->
            <div id="deuxieme_vente" style="display: none;">
                <div class="form-row mt-3">
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="designation_2" placeholder="Désignation du produit">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="code_barre_2" placeholder="Code barre">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prix_vente_2" placeholder="Prix de vente">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="prix_achat_2" placeholder="Prix d'achat">
                    </div>
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" id="valider_vente">
                        <i class="fas fa-check"></i> {{"Valider vente" | upper}}
                    </button>
                    <a href="javascript:history.back()" class="btn btn-secondary">{{"Annuler" | upper}}</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Script jQuery pour afficher/cacher la deuxième ligne de vente -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#ajouter_ligne').click(function() {
                $('#deuxieme_vente').toggle();  // Afficher/cacher la deuxième ligne de vente
            });

            $('.prix-input').on('input', function() {
                var inputValue = $(this).val();
                // Supprimer tout sauf les chiffres et le point décimal
                inputValue = inputValue.replace(/[^0-9.]/g, '');
                // Remplacer les points décimaux multiples par un seul point
                inputValue = inputValue.replace(/(\..*)\./g, '$1');
                // Limiter à un seul point décimal
                var decimalCount = (inputValue.match(/\./g) || []).length;
                if (decimalCount > 1) {
                    inputValue = inputValue.substring(0, inputValue.lastIndexOf('.'));
                }
                $(this).val(inputValue);
            });

            $('#valider_vente').click(function(event) {
                var formIsValid = true;

                // Vérifier les champs requis dans la première ligne de vente
                $('#saisie_vente_form input[required]').each(function() {
                    if ($(this).val().trim() === '') {
                        formIsValid = false;
                        $(this).addClass('is-invalid');
                    } else {
                        $(this).removeClass('is-invalid');
                    }
                });

                // Vérifier les champs requis dans la deuxième ligne de vente si elle est visible
                if ($('#deuxieme_vente').is(':visible')) {
                    $('#deuxieme_vente input[required]').each(function() {
                        if ($(this).val().trim() === '') {
                            formIsValid = false;
                            $(this).addClass('is-invalid');
                        } else {
                            $(this).removeClass('is-invalid');
                        }
                    });
                }

                if (!formIsValid) {
                    event.preventDefault(); // Empêcher la soumission du formulaire
                    
                }
            });
        });
    </script>
{% endblock %}
