{% extends 'layout/base.html' %}
{% load tz %}

{% block extra_css %}
    <!-- Ajoutez ceci à la section head -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>
        .bold-text {
            font-weight: bold;
        }
    
        .card {
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            background-color: #dbf7bc;
        }
        .card_zeo {
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            background-color: #f3bbbb;
        }
    
        .card-body {
            padding: 10px; /* Réduit l'espacement interne des cartes */
        }
    
        .table {
            width: 90%; /* Réduit la largeur du tableau à 90% */
            margin-bottom: 20px; /* Réduit la marge inférieure du tableau */
            border-collapse: collapse;
        }
    
        .th {
            background-color: #f2f2f2;
            border-bottom: 1px solid #ccc;
            padding: 8px; /* Réduit l'espacement interne des cellules d'en-tête */
            text-align: center;
        }
    
        .tr {
            border-bottom: 1px solid #ccc;
        }
    
        .td {
            padding: 8px; /* Réduit l'espacement interne des cellules de données */
            text-align: center;
        }
    
        .card-text {
            font-size: 14px; /* Réduit la taille de la police pour le texte des cartes */
        }
    </style>


    {% endblock %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if onglet == '1' %}active{% endif %}" id="periode-tab" data-toggle="tab" href="#periode" role="tab" aria-controls="periode" aria-selected="true">RECHERCHE PAR JOUR </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if onglet == '2' %}active{% endif %}" id="jour-tab" data-toggle="tab" href="#jour" role="tab" aria-controls="jour" aria-selected="false">RECHERCHE PAR PERIODE </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if onglet == '3' %}active{% endif %}" id="facture-tab" data-toggle="tab" href="#facture" role="tab" aria-controls="facture" aria-selected="false">FACTURE </a>
        </li>
        
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if onglet == '1' %}show active{% endif %}" id="periode" role="tabpanel" aria-labelledby="periode-tab">
            <!-- Contenu de l'onglet "Recherche Période" -->
            
<div class="container mt-5">

    <form method="post" action="{% url 'get_statistics' %}">
        {% csrf_token %}
        <input type="hidden" name="jour" value="jour">
        <div class="form-group">
            
            <label for="selected_date">{{"Sélectionner une date" |upper}} </label>
            <input type="date" class="form-control" id="selected_date" name="selected_date" value="{{selected_date}}" required>
            
        </div>
        
        <button type="submit" class="btn btn-primary">{{"Afficher les statistiques"|upper}}</button>
    </form>

    <div class="row mt-3">
        <div class="col-md-12">
            {% if selected_date %}
            <table class="table">
                <tr class="tr">
                    <th class="th">-</th>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        <th class="th">{{ statistics.vendeur.username |upper }}</th>
                    {% endfor %}
                    <th class="th">TOTAL</th>
                </tr>
                
                <tr class="tr">
                    <td class="th bold-text">{{"Chiffre d'affaires "|upper}}</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_sales == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_sales |floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    
                    {% endfor %}
                    <td class="td">
                    <div  class="{% if total_all_sellers == 0 %}card_zeo{% else %}card{% endif %}">
                        <div class="card-body">  
                            <p class="card-text">{{ total_all_sellers |floatformat:"2" }}</p>
                        </div>
                    </div>
                    </td>
                </tr>
                
                <tr class="tr">
                    <td class="th bold-text">NOMBRE DES VENTES</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        
                        <td class="td">
                            <div  class="{% if statistics.total_ventes == 0 %}card_zeo{% else %}card{% endif %}">
                                
                                <div class="card-body">  
                                    <p class="card-text">{{ statistics.total_ventes }}</p>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                   
                    <td class="td">
                        <div  class="{% if total_all_ventes == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_ventes  }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="th bold-text">{{ "Panier Moyenne" | upper }}</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        
                            <div class="{% if statistics.average_cart == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.average_cart | floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                    
                    <td class="td">
                        <div  class="{% if division_result == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ division_result | floatformat:"2"  }}</p>
                            </div>
                        </div>
                    </td>

                </tr>
                
                <tr class="tr">
                    <td class="th bold-text">TELETRANSMITION</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        

                    <td class="td">
                        <div class="{% if statistics.total_teletransmitions.0 == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">AMO: {{ statistics.total_teletransmitions.0 | floatformat:"2" }} <br>
                                    AMC: {{ statistics.total_teletransmitions.1| floatformat:"2"}}

                                </p>
                            </div>
                        </div>
                    </td>

                             
                    {% endfor %}
                    
                    <td class="td">
                        <div  class="{% if total_all_teletransmitions_amo == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">AMO: {{total_all_teletransmitions_amo | floatformat:"2" }} <br> AMC: {{total_all_teletransmitions_amc | floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                
                
                </tr>
                <tr class="tr">
                    <td class="th bold-text">NB MONTURE EN STOCK</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        
                        <td class="td">
                            <div  class="{% if statistics.total_insertions_stock == 0 %}card_zeo{% else %}card{% endif %}">
                                <div class="card-body">  
                                    <p class="card-text">{{ statistics.total_insertions_stock  }}</p>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                    
                    <td class="td">
                        <div  class="{% if total_all_stock == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_stock  }}</p>
                            </div>
                        </div>
                    </td>
                    
                </tr>
                <tr class="tr">
                    <td class="th bold-text">S.A.V</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_sav == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_sav }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                   
                    <td class="td">
                        <div  class="{% if total_all_sav == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_sav  }}</p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="tr">
                    <td class="th bold-text">REMISE EN BANQUE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_remises_banque == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_remises_banque| floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                   
                    <td class="td">
                        <div  class="{% if total_all_banque == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_banque | floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="th bold-text">ANOMALIE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_anomalies == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_anomalies }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                    
                    <td class="td">
                        <div  class="{% if total_all_anomalie == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_anomalie  }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="th bold-text">LIVRAISON</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_livraisons == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_livraisons }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                   
                    <td class="td">
                        <div  class="{% if total_all_livraison == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_livraison  }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="th bold-text">LITIGE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div  class="{% if statistics.total_litiges == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_litiges }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                    
                    <td class="td">
                        <div  class="{% if total_all_litige == 0 %}card_zeo{% else %}card{% endif %}">
                            <div class="card-body">  
                                <p class="card-text">{{ total_all_litige  }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Ajoutez d'autres lignes de données ici -->
            </table>
            {% endif %}
        </div>
    </div>

</div>
        </div>
        <div class="tab-pane fade {% if onglet == '2' %}show active{% endif %}" id="jour" role="tabpanel" aria-labelledby="jour-tab">
            <!-- Contenu de l'onglet "Recherche Jour" -->
            <div class="container">
    
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="periode" value="periode">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date">Date de début</label>
                            <input type="date" class="form-control" id="start_date" value="{{ start_date }}" name="start_date" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date">Date de fin</label>
                            <input type="date" class="form-control" id="end_date" value="{{end_date}}" name="end_date" required>
                        </div>
                        <div class="form-group col-md-3">
                           
                            <label for="seller">Vendeur</label>
                            <select class="form-control" id="seller" name="seller">
                                <option value="">TOUS</option>
                                {% for seller_item in sellers %}
                                    {% if searching_seller and searching_seller.id == seller_item.id %}
                                        <option value="{{ seller_item.id }}" selected>{{ seller_item }}</option>
                                    {% else %}
                                        <option value="{{ seller_item.id }}">{{ seller_item }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div class="form-group col-md-3">
                            <label for="stat_type">TYPE DE STATISTIQUE </label>
                            <select class="form-control" name="stat_type" id="stat_type">
                                <option value="Vente" {% if stat_type == "Vente" %}selected{% endif %}>VENTES</option>
                                <option value="Anomalie" {% if stat_type == "Anomalie" %}selected{% endif %}>ANOMALIES</option>
                                <option value="Teletransmition" {% if stat_type == "Teletransmition" %}selected{% endif %}>{{"Teletransmition"|upper}}</option>
                                <option value="Stock" {% if stat_type == "Stock" %}selected{% endif %}>{{"Stock"|upper}}</option>
                                <option value="Sav" {% if stat_type == "Sav" %}selected{% endif %}>{{"Sav"|upper}}</option>
                                <option value="RemiseBanque" {% if stat_type == "RemiseBanque" %}selected{% endif %}>{{"RemiseBanque"|upper}}</option>
                                <option value="Livraison" {% if stat_type == "Livraison" %}selected{% endif %}>{{"Livraison"|upper}}</option>
                                <option value="Litige" {% if stat_type == "Litige" %}selected{% endif %}>{{"Litige"|upper}}</option>
                            </select>
                            
                            
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Afficher les statistiques</button>
                </form>
               
                <div class="card border-primary mb-3" style="max-width: 100rem; margin-top: 10px; background-color: #f8f9fa; border-color: #007bff;">
                    
                        {% if stat_type == "Vente" %} 
                        <div class="card-body d-flex justify-content-center align-items-center flex-wrap">
                            <div class="text-center mr-3">
                                <h6 class="card-title text-primary mb-0"> <i class="fas fa-coins"></i>  {{"Chiffre d'affaires de la période :"|upper }} {{total_periode}} </h6>
                            </div>   
                        </div>
                        {% endif %} 

                        {% if stat_type == "Teletransmition" %} 
                        <div class="card-body d-flex justify-content-center align-items-center flex-wrap">
                            <div class="text-center mr-3">
                                <h6 class="card-title text-primary mb-0"> <i class="fas fa-hospital"></i>  {{"TOTAL A.M.O de la période :"|upper }} {{amo_periode}} </h6>
                            </div>
                            <div class="text-center">
                                <h6 class="card-title text-primary mb-0"><i class="fas fa-shield"></i> {{"TOTAL A.M.C de la période :"|upper }} {{amc_periode}}  </h6>
                            </div>
                        </div>
                        {% endif %} 

                        {% if stat_type == "RemiseBanque" %} 
                        <div class="card-body d-flex justify-content-center align-items-center flex-wrap">
                            <div class="text-center mr-3">
                                <h6 class="card-title text-primary mb-0"> <i class="fas fa-coins"></i>  {{"LE MONATNT REMISE EN BANQUE DURANT LA PERIODE EST :"|upper }} {{montant_periode}} </h6>
                            </div>   
                        </div>
                        {% endif %} 

                        {% if stat_type == "Stock" %} 
                        <div class="card-body d-flex justify-content-center align-items-center flex-wrap">
                            <div class="text-center mr-3">
                                <h6 class="card-title text-primary mb-0"> <i class="fas fa-coins"></i>  {{"LE NOMBRE DE  MONTURE EN STOCKE  DURANT LA PERIODE EST :"|upper }} {{qtt_periode}} </h6>
                            </div>   
                        </div>
                        {% endif %} 


                        {% if stat_type in "Litige, Livraison, Anomalie,Sav" %}
                        <div class="card-body d-flex justify-content-center align-items-center flex-wrap">
                            <div class="text-center mr-3">
                                <h6 class="card-title text-primary mb-0"> <i class="fas fa-coins"></i>  LE NOMBRE DE {{stat_type | upper }}    DURANT LA PERIODE EST :  {{nombre_periode}} </h6>
                            </div>   
                        </div>
                        {% endif %} 

                </div>
                
                
                <div class="results mt-4">
                    {% for day in ventes_par_jour %}
                    
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title">
                                <span class="mr-2"><i class="fas fa-calendar-alt"></i> {{ day.date|date:"d-m-Y" }}</span>
                                {% if stat_type == "Vente" %}
                                <span class="badge badge-light"><i class="fas fa-money-bill-wave"></i> CA: {{ day.total }}</span>
                                {% endif %}
                                {% if stat_type == "Teletransmition" %}
                                <span class="badge badge-light">                         
                                        <i class="fas fa-hospital"></i> AMO: {{ day.amo }}
                                        <i class="fas fa-shield-alt"></i> AMC: {{ day.amc }}
                                    
                                </span>
                                {% endif %}
                                {% if stat_type == "RemiseBanque" %}
                                <span class="badge badge-light"><i class="fas fa-money-bill-wave"></i> MONTANT REMISE A LA BANQUE : {{ day.montant }}</span>
                                {% endif %}
                                {% if stat_type == "Stock" %}
                                <span class="badge badge-light"><i class="fas fa-cubes"></i> NOMBRE DE  MONTURE EN STOCKE : {{ day.qtt }}</span>
                                {% endif %}

                                
                                
                            </h5>
                        </div>
                        
                        <div class="card-body">
                            {% if day.ventes %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                       
                                        {% if stat_type == "Vente" %}
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        <th>DESIGNATION</th>
                                        <th>CODE BARRE</th>
                                        <th>PRIX  VENTE</th>
                                        <th>PRIX ACHAT</th> 
                                        {% endif %}
                                        {% if stat_type == "Anomalie" %}
                                        <th>SUJET</th>
                                        {% endif %}
                                        {% if stat_type == "Livraison" %}
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        {% endif %}

                                        {% if stat_type == "Litige" %}
                                        <th>SUJET</th>
                                        {% endif %}

                                        {% if stat_type == "RemiseBanque" %}
                                        <th>MONTANT</th>
                                        <th>FACTURE</th>
                                        {% endif %}
                                        {% if stat_type == "Sav" %}
                                        <th>NOM</th>
                                        <th>PRENOM</th>
                                        <th>FOURNISSEUR</th>
                                        <th>REFERENCE</th>
                                        {% endif %}

                                        {% if stat_type == "Stock" %}
                                        <th>MARQUE</th>
                                        <th>QUANTITE</th>
                                        {% endif %}

                                        {% if stat_type == "Teletransmition" %}
                                        <th>AMO</th>
                                        <th>AMC</th>
                                        {% endif %}
                                    <th>VENDEUR</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% if not stat_type == "RemiseBanque" %}
                                   
                                    {% for vente in day.ventes %}
                                        <tr>
                                            {% for field, value in vente.items %}
                                                {% if not forloop.first and forloop.counter > 3 and field != 'date' %}
                                                    <td>{{ value }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    {% endif %}
                                
                                    {% if stat_type == "RemiseBanque" %}
                                   
                                    {% for b in day.ventes %}
                                    <tr>
                                        <td>{{ b.montant }} </td>
                                        <td>
                                           
                                            <a href="{{ b.piece.url }}" target="_blank">{{ b.piece }}</a>
                                        </td>
                                        
                                        <td>{{ b.vendeur_username }}</td>

                                    </tr>

                                    {% endfor %}
                                        
                                    {% endif %}
                                </tbody>
                                
                            </table>
                            {% else %}
                            <p class="text-muted">{{"Aucune" |upper}} {{ stat_type|upper}} {{" enregistrée pour cette date."|upper}}</p>
                             {% endif %}
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
    </div>
    <input type="hidden" id="onglet" name="onglet" value="{{ onglet }}">
   

</div>
<div class="tab-pane fade {% if onglet == '3' %}show active{% endif %}" id="facture" role="tabpanel" aria-labelledby="facture">
    <!-- Contenu de l'onglet "Recherche Jour" -->
    <div class="container">
        
     

        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th>MOIS CONCERNE</th>                  
                    {% for model_name, model_class in model_dict.items %}
                        <th>{{ model_name |upper }}</th>
                    {% endfor %}
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in ventes_par_mois_facture %}
                    <tr>
                        <td>{{ facture.1 }}-{{ facture.0 }}</td>
                        {% for model_name, model_class in model_dict.items %}
                        <td><a href="{% url 'get_statistics' %}?date_facture={{ facture.1 }}-{{ facture.0 }}&onglet=100" class="text-primary"><i class="bi bi-download"></i></a></td>
                          {% endfor %}
                       
                        
                        
                        <td><a href="{% url 'get_statistics' %}?date_facture={{ facture.1 }}-{{ facture.0 }}&onglet=100" class="text-primary"><i class="bi bi-download"></i></a></td>
                        {% for model_name, model_class in models_dict.items %}
                            <td><!-- Add data based on the model --></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <!-- Ajoutez ici le code JavaScript supplémentaire si nécessaire -->
    <script>
        $(document).ready(function(){
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        // Sélectionnez l'onglet en fonction de la valeur de onglet
        $(document).ready(function(){
            var onglet = "{{ onglet }}";
            if (onglet === '1') {
                $('#periode-tab').tab('show');
            }
             else if (onglet === '2') {
                $('#jour-tab').tab('show');
            }
            else if (onglet === '3') {
                $('#facture-tab').tab('show');
            }
        });
    </script>
{% endblock %}
