{% extends 'layout/base.html' %}
{% load tz %}

{% block content %}
<style>
    .bold-text {
        font-weight: bold;
    }

    .card {
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background-color: #fff;
    }

    .card-body {
        padding: 10px; /* Réduit l'espacement interne des cartes */
    }

    .table {
        width: 90%; /* Réduit la largeur du tableau à 90% */
        margin-bottom: 20px; /* Réduit la marge inférieure du tableau */
        border-collapse: collapse;
    }

    .th {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        padding: 8px; /* Réduit l'espacement interne des cellules d'en-tête */
        text-align: center;
    }

    .tr {
        border-bottom: 1px solid #ccc;
    }

    .td {
        padding: 8px; /* Réduit l'espacement interne des cellules de données */
        text-align: center;
    }

    .card-text {
        font-size: 14px; /* Réduit la taille de la police pour le texte des cartes */
    }
</style>



<div class="container mt-5">

    <form method="post" action="{% url 'get_statistics' %}">
        {% csrf_token %}
        <div class="form-group">
            
            <label for="selected_date">Sélectionner une date: {{ selected_date }} </label>
            <input type="date" class="form-control" id="selected_date" name="selected_date" value="{{selected_date}}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Afficher les statistiques</button>
    </form>

    <div class="row mt-3">
        <div class="col-md-12">
            {% if selected_date %}
            <table class="table">
                <tr class="tr">
                    <th class="th">-</th>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        <th class="th">{{ statistics.vendeur.username }}</th>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">{{"Chiffre d'affaires "|upper}}</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_sales |floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    
                    {% endfor %}
                </tr>
                
                <tr class="tr">
                    <td class="th bold-text">NOMBRE DES VENTES</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        
                        <td class="td">
                            <div class="card">
                                <div class="card-body">  
                                    <p class="card-text">{{ statistics.total_ventes }}</p>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">{{ "Panier Moyenne" | upper }}</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.average_cart | floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                
                <tr class="tr">
                    <td class="th bold-text">TELETRANSMITION</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        

                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">AMO :{{ statistics.total_teletransmitions.0 | floatformat:"2" }} <br>
                                    AMC :{{ statistics.total_teletransmitions.1| floatformat:"2"}}

                                </p>
                            </div>
                        </div>
                    </td>

                             
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">NB MONTURE EN STOCK</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                        
                        <td class="td">
                            <div class="card">
                                <div class="card-body">  
                                    <p class="card-text">{{ statistics.total_insertions_stock  }}</p>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">S.A.V</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_sav }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>

                <tr class="tr">
                    <td class="th bold-text">REMISE EN BANQUE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_remises_banque| floatformat:"2" }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">ANOMALIE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_anomalies }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">LIVRAISON</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_livraisons }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr class="tr">
                    <td class="th bold-text">LITIGE</td>
                    {% for seller_id, statistics in statistics_by_seller.items %}
                    <td class="td">
                        <div class="card">
                            <div class="card-body">  
                                <p class="card-text">{{ statistics.total_litiges }}</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <!-- Ajoutez d'autres lignes de données ici -->
            </table>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
