{% extends 'layout/base.html' %}
{% load tz %}

{% block content %}
<style>
    .custom-chart-icon-color { color: blue; }
    .custom-cash-icon-color { color: green; }
    .custom-teletrans-icon-color { color: red; }
    .custom-stock-icon-color { color: orange; }
    .custom-sav-icon-color { color: purple; }
    .custom-anomaly-icon-color { color: yellow; }
    .custom-bank-icon-color { color: brown; }
    .custom-delivery-icon-color { color: gray; }
    .custom-litige-icon-color { color: black; }
</style>
<div class="container mt-5">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}


    <!-- Section Ventes Journalières -->
    <div class="row mb-4">
        <div class="col-md-7">
            <h5 class="font-weight-bold d-inline"> 
                <i class="fas fa-chart-line mr-2 custom-chart-icon-color"></i> 
                {{"Ventes Journalières" |upper}}
            </h5>
            {% if not today_vente.cloturee %}
            <a href="{% url 'saisie_vente' %}" class="btn btn-primary ml-3">{{"NOUVELLE vente" |upper}}</a>
            {% else %}
            <div class="alert alert-success" role="alert">
                <i class="fas fa-check-circle"></i> {{"Vous avez déjà clôturé la journée."|upper}}
            </div>
            {% endif%}
           
        </div>
        <div class="col-md-5">
            <p class="font-weight-bold">
                <i class="fas fa-user-circle mr-2"></i>{{ request.user|upper }} - 
                 <i class="fas fa-calendar-day ml-2 mr-1"></i> {{ current_date }}-
                 <i class="fas fa-cash-register mr-2 custom-cash-icon-color"></i>  {{ total_ventes }}
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">NOM</th>
                            <th scope="col">PRÉNOM</th>
                            <th scope="col">DÉSIGNATION</th>
                            <th scope="col">CODE BARRE</th>
                            <th scope="col">PRIX VENTE</th>
                            <th scope="col">PRIX ACHAT</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if ventes %}
                        {% for vente in ventes %}
                        <tr>
                            <td>{{ vente.nom_client|title }}</td>
                            <td>{{ vente.prenom_client|title }}</td>
                            <td>{{ vente.designation_produit }}</td>
                            <td>{{ vente.code_barre }}</td>
                            <td>{{ vente.prix_vente }}</td>
                            <td>{{ vente.prix_achat }}</td>
                            <td><a href="{% url 'edit_rendu' id=vente.id %}" class="text-warning"><i class="bi bi-pencil text-black"></i></a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="7" class="text-center">AUCUNE VENTE ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Section Insertion en TELETRANSITION -->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-exchange-alt mr-2 custom-teletrans-icon-color"></i> 
                {{"teletransmition" |upper}}</h5>
                {% if not today_vente.cloturee %}
         
                <a href="{% url 'add_item' model_name='teletransmition' %}" class="btn btn-primary ml-3">{{"Ajouter une teletransmition" |upper}}</a>
        {% endif %}
           
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">A.M.O</th>
                            <th scope="col">A.M.C</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if teletransitions %}
                        {% for teletransition in teletransitions %}
                        <tr>
                            <td>{{ teletransition.amo }}</td>
                            <td>{{ teletransition.amc }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="2" class="text-center">AUCUNE INSERTION EN TELETRANSITION ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Section Insertion en Stock -->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-cube mr-2 custom-stock-icon-color"></i> 
                {{"Insertion en Stock" |upper}}</h5>
                {% if not today_vente.cloturee %}
           
            <a href="{% url 'add_item' model_name='stock' %}" class="btn btn-primary ml-3">{{ "Ajouter un stock" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">MARQUE</th>
                            <th scope="col">{{"Quantité " |upper}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if stocks %}
                        {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.marque }}</td>
                            <td>{{ stock.qtt }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="2" class="text-center">AUCUNE INSERTION EN STOCK ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  
    <!-- Section Commande SAV -->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-tools mr-2 custom-sav-icon-color"></i> 
                {{"Commande S.A.V" |upper}}</h5>
                {% if not today_vente.cloturee %}
           
            <a href="{% url 'add_item' model_name='sav' %}" class="btn btn-primary ml-3">{{ "Ajouter un SAV" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{"Nom" |upper}}</th>
                            <th scope="col">{{"Prénom" |upper}}</th>
                            <th scope="col">{{"Fournisseur" |upper}}</th>
                            <th scope="col">{{"Référence" |upper}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if savs %}
                        {% for sav in savs %}
                        <tr>
                            <td>{{ sav.nom }}</td>
                            <td>{{ sav.prenom }}</td>
                            <td>{{ sav.fournisseur }}</td>
                            <td>{{ sav.reference }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">AUCUNE COMMANDE S.A.V ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- ------ANOMALIE --------------->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-exclamation-triangle mr-2 custom-anomaly-icon-color"></i> 
                {{"ANOMALIE" |upper}}</h5>
                {% if not today_vente.cloturee %}
           
            <a href="{% url 'add_item' model_name='anomalie' %}" class="btn btn-primary ml-3">{{ "Ajouter une anomalie" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{"Problématique" |upper}}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if anomalies %}
                        {% for anomaly in anomalies %}
                        <tr>
                            <td>{{ anomaly.subject }}</td>
                            
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">AUCUNE ANOMALIE ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    
    <!-- ------REMISE EN BANQUE --------------->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-university mr-2 custom-bank-icon-color"></i> 
                {{"REMISE EN BANQUE" |upper}}</h5>
                {% if not today_vente.cloturee %}

            <a href="{% url 'add_item' model_name='remisebanque' %}" class="btn btn-primary ml-3">{{ "Ajouter une remise banque" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">MONTANT</th>
                            <th scope="col">AVOIR</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if remises_banque %}
                        {% for remise in remises_banque %}
                        <tr>
                            <td>{{ remise.montant }}</td>
                            <td>
                                <a href="{{ remise.piece.url }}" target="_blank">VOIRE LA FACTURE</a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">AUCUNE REMISE EN BANQUE ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


      <!-- ------LIVRAISON CLIENT --------------->
      <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-truck mr-2 custom-delivery-icon-color"></i> 
                {{"LIVRAISON CLIENT" |upper}}</h5>
                {% if not today_vente.cloturee %}

            <a href="{% url 'add_item' model_name='livraison' %}" class="btn btn-primary ml-3">{{ "Ajouter une livraison" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{"Nom"|upper}}</th>
                            <th scope="col">{{"Prénom"|upper}}</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if livraisons %}
                        {% for livraison in livraisons %}
                        <tr>
                            <td>{{ livraison.nom }}</td>
                            <td>{{ livraison.prenom }}</td>
                            
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">AUCUNE LIVRAISON CLIENT ENREGISTRÉE</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


     <!-- ------LItige --------------->
     <div class="row mb-4">
        <div class="col-md-8">
            <h5 class="font-weight-bold d-inline">
                <i class="fas fa-exclamation-circle mr-2 custom-litige-icon-color"></i> 
                {{"litige" |upper}}</h5>
                {% if not today_vente.cloturee %}

            <a href="{% url 'add_item' model_name='litige' %}" class="btn btn-primary ml-3">{{ "Ajouter un litige" | upper }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Fournisseur</th>
                            <th scope="col">Référence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if litiges %}
                        {% for litige in litiges %}
                        <tr>
                            <td>{{ litige.nom }}</td>
                            <td>{{ litige.prenom }}</td>
                            <td>{{ litige.fournisseur }}</td>
                            <td>{{ litige.reference }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">AUCUN LITIGE ENREGISTRÉ</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bouton de clôture -->
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            {% if not today_vente.cloturee %}
            <a href="{% url 'valider_cloture' %}?ca-jour={{ total_ventes }}&day={{ current_date  }}" class="btn btn-danger btn-lg">
                <i class="fas fa-lock mr-2"></i> CLOTURER LA JOURNÉE
            </a>
            {% else %}
            <a href="{% url 'open_day' %}?day={{ current_date  }}" class="btn btn-primary btn-lg">
                <i class="fas fa-lock-open mr-2"></i> ROUVRIR LA JOURNÉE
            </a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}


