<!-- templates/client_list.html -->

{% extends 'base.html' %}

{% block title %}Liste des clients{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Liste des clients </h2>
        <a href="{% url 'add_client' %}" class="btn btn-success mb-4">Ajouter un client</a>
        <!-- Formulaire de recherche -->
        <form id="searchForm" class="mb-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="searchInput" class="sr-only">Rechercher par nom ou prénom :</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Entrez le nom" oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Bouton "Ajouter Client" -->
       

        <!-- Tableau des clients -->
        <table class="table table-bordered table-hover">
            <thead style="background-color: #007BFF; color: #FFFFFF;">
                <tr>
                    <th>Nom du client</th>
                    <th>Date de naissance</th>
                    <th>Solde Crédit</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.nom }} {{ client.prenom }}</td>
                        <td>{{ client.datenaissance }}</td>
                        <td>{{ client.total_avoir_client }}</td>
                        <td>
                            <a href="{% url 'client_details' client.id %}">
                                <i class="fas fa-eye text-primary" title="Voir les détails"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- JavaScript pour gérer la soumission du formulaire et mettre à jour le tableau -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const searchForm = document.getElementById("searchForm");

                searchForm.addEventListener("submit", function(event) {
                    event.preventDefault();

                    const searchInput = document.getElementById("searchInput").value.toLowerCase();
                    const tableRows = document.querySelectorAll(".table tbody tr");

                    tableRows.forEach(function(row) {
                        const clientName = row.querySelector("td:first-child").textContent.toLowerCase();

                        if (clientName.includes(searchInput)) {
                            row.style.display = "table-row";
                        } else {
                            row.style.display = "none";
                        }
                    });
                });
            });
        </script>
    </div>
{% endblock %}
