<!-- templates/client_list.html -->

{% extends 'base.html' %}

{% block title %}LISTE DES FAMILLES{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Liste des clients </h2>
        <a href="{% url 'add_famille' %}" class="btn btn-success mb-4">AJOUTER</a>
        <!-- Formulaire de recherche -->


        <!-- Bouton "Ajouter Client" -->


        <!-- Tableau des clients -->
        <table class="table table-bordered table-hover">
            <thead style="background-color: #007BFF; color: #FFFFFF;">
                <tr>
                    <th>FAMILLE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for famille in familles %}
                    <tr>
                        <td>{{ famille.famille }}</td>

                        <td>
                            <a href="">
                                <i class="fas fa-edit  text-primary" title="Voir les détails"></i>
                            </a>

                            <a href="#">
                            <i class="fas fa-trash text-danger" title="Supprimer"></i>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}
