<!-- templates/add_client.html -->
{% extends 'layout/base.html' %}

{% block title %}Ajouter Client{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">AJOUTER CLIENT </h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <!-- Bootstrap form styling -->
                    <div class="form-group">
                        <label for="{{ form.nom.id_for_label }}" class="form-label">NOM :</label>
                        <input type="text" class="form-control" id="{{ form.nom.id_for_label }}" name="{{ form.nom.name }}" value="{{ form.nom.value }}" required oninput="this.value = this.value.toUpperCase()">
                        {{ form.nom.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.prenom.id_for_label }}" class="form-label">PRENOM :</label>
                        <input type="text" class="form-control" id="{{ form.prenom.id_for_label }}" name="{{ form.prenom.name }}" value="{{ form.prenom.value }}" required oninput="this.value = this.value.toUpperCase()">
                        {{ form.prenom.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.datenaissance.id_for_label }}" class="form-label">DATE DE NAISSANCE :</label>
                        <input type="date" class="form-control" id="{{ form.datenaissance.id_for_label }}" name="{{ form.datenaissance.name }}" value="{{ form.datenaissance.value }}" required>
                        {{ form.datenaissance.errors }}
                    </div>
                    
                    <div class="text-center mt-3">
                       
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i> VALIDER 
                        </button>
                        <a href="javascript:history.back()" class="btn btn-secondary">ANNULER</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
