{% extends 'layout/base.html' %}

{% block title %}Détail Client{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul class="message-list">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="card mt-5">
    <div class="card-header bg-primary text-white">
        <div class="row">
            <div class="col">
                <h2>{{ client.nom |upper }} {{ client.prenom |upper }}</h2>
            </div>
            <div class="col text-end">
                <div class="{% if client.total_avoir_client == 0 %}bg-danger{% else %}bg-warning{% endif %} rounded p-3">
                    <div class="text-center"> <!-- Added text-center class here -->
                        <p class="mb-0" style="color: black;"><strong>SOLDE CRÉDIT :</strong></p>
                        <h4 class="mb-0">{{ client.total_avoir_client | floatformat:2 }} €</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="card-body">
        <!-- Contenu de la carte -->
    </div>
</div>





        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="client-details-tab" data-toggle="tab" href="#client-details">DÉTAIL CLIENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="consomption-tab" data-toggle="tab" href="#consomption">HISTORIQUE CONSOMATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="avoir-tab" data-toggle="tab" href="#avoir">HISTORIQUE CREDITS</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Client Details Tab -->
            <div class="tab-pane fade show active" id="client-details">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-2"><strong>NOM : </strong> {{ client.nom |upper}} </p>
                            <p class="mb-2"><strong>PRENOM : </strong> {{ client.prenom  |upper}}</p>
                            <p class="mb-2"><strong>DATE DE NAISSANCE : </strong> {{ client.datenaissance |date:"d/m/Y" }}</p>
                        </div>
                        <div class="col-md-6">

                            <!-- Buttons for Ajouter Avoir and Consommer Avoir -->

                        </div>
                    </div>
                    <div class="mt-3">
        <a href="{% url 'ajouter_avoir' client.id %}" class="btn btn-primary mr-2">AJOUTER CREDIT</a>
        <a href="{% url 'consommer_avoir' client.id %}" class="btn btn-success">AJOUTER CONSOMATION </a>
    </div>
                </div>

            </div>

            <!-- Consomption History Tab -->
            <div class="tab-pane fade" id="consomption">
    <div class="card-body">
        <div class="table-responsive">
            <a href="{% url 'consommer_avoir' client.id %}" class="btn btn-success mb-3">AJOUTER CONSOMMATION</a>
            {% if consommations %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">DESIGNATION</th>
                        <th scope="col">CODE BARRE</th>
                        <th scope="col">PRIX ACHAT HT</th>
                        <th scope="col">PRIX VENTE TTC</th>
                        <th scope="col">CREATEUR</th>
                        <th scope="col">DATE CONSOMMATION</th>
                        <th scope="col">AVOIR</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consomation in consommations %}
                    <tr>
                        <td>{{ consomation.designation|upper }}</td>
                        <td>{{ consomation.code_barre }}</td>
                        <td>{{ consomation.prix_achat }}</td>
                        <td>{{ consomation.prix_vente }}</td>
                        <td>{{ consomation.user|upper }}</td>
                        <td>{{ consomation.date_ajout | date:"d-m-Y" }}</td>
                        {% if consomation.facture %}
                        <td>
                            <a href="{{ consomation.facture.url }}" target="_blank">VOIR L'AVOIR</a>
                        </td>
                        {% else %}
                         <td>-</td>
                        {% endif %}
                        <td><a href="{% url 'editer_consommation' id=consomation.id %}" class="text-warning"><i class="bi bi-pencil text-black"></i></a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


            <!-- Avoir History Tab -->
<div class="tab-pane fade" id="avoir">
    <div class="card-body">
        <a href="{% url 'ajouter_avoir' client.id %}" class="btn btn-primary mb-3">AJOUTER CRÉDIT</a>
         {% if avoirs %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">MONTANT</th>
                        <th scope="col">DATE CREDIT</th>
                        <th scope="col">CREATEUR</th>
                        <th scope="col">FACTURE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avoir in avoirs %}
                    <tr>
                        <td>{{ avoir.montant }}</td>
                        <td>{{ avoir.date_ajout | date:"d-m-Y" }}</td>
                        <td>{{ avoir.user|upper }}</td>
                        <td>
                            <a href="{{ avoir.facture.url }}" target="_blank">Voir la facture</a>
                        </td>
                        <td><a href="{% url  'editer_avoir' id=avoir.id %}" class="text-warning"><i class="bi bi-pencil text-black"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

            </div>

        </div>

    </div>

</div>

<!-- JavaScript to handle Bootstrap tabs -->
<script>
    $(document).ready(function(){
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>
{% endblock %}