<!-- templates/client_list.html -->

{% extends 'layout/base.html' %}

{% block title %}Liste des clients{% endblock %}

{% block content %}
<style>
    .pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-inner {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.pagination-link {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
}

.current-page {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
}
</style>
    <div class="container mt-4">
        {% if messages %}
                            <ul class="message-list">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
        <h1 class="text-center mb-4">LISTE DES CLIENTS </h1>
        <a href="{% url 'add_client' %}" class="btn btn-primary mb-4">
            <i class="fas fa-plus"></i> AJOUTER CLIENT
        </a>

        <!-- Formulaire de recherche -->
        <form id="searchForm" class="mb-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="searchInput" class="sr-only">Rechercher par nom ou prénom :</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Entrez le nom" oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">RECHERCHE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Bouton "Ajouter Client" -->


        <!-- Tableau des clients -->
        <table class="table table-bordered table-hover">
            <thead style="background-color: #007BFF; color: #FFFFFF;">
                <tr>
                    <th>NOM</th>
                     <th>PRENOM</th>
                    <th>DATE NAISSANCE</th>
                    <th>SOLDE</th>
                    <th>DÉTAILS</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.nom|upper }}  {{client.date_naissance}}</td>
                        <td>{{ client.prenom|upper }}</td>
                        <td>{{ client.datenaissance |date:"d/m/Y" }}</td>
                        <td>{{ client.total_avoir_client |floatformat:2 }}</td>
                        <td>
                            <a href="{% url 'client_details' client.id %}">
                                <i class="fas fa-eye text-primary" title="Voir les détails"></i>
                            </a>
                            <a href="{% url 'edit_client' client.id %}">
                            <i class="fas fa-edit text-secondary" title="Modifier"></i>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination-inner">
        {% if clients.has_previous %}
            <a class="pagination-link" href="?page=1">&laquo; First</a>
            <a class="pagination-link" href="?page={{ clients.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in clients.paginator.page_range %}
            {% if num == clients.number %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if clients.has_next %}
            <a class="pagination-link" href="?page={{ clients.next_page_number }}">Next</a>
            <a class="pagination-link" href="?page={{ clients.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>

        <!-- JavaScript pour gérer la soumission du formulaire et mettre à jour le tableau -->
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchForm = document.getElementById("searchForm");

        searchForm.addEventListener("submit", function(event) {
            event.preventDefault();

            const searchInput = document.getElementById("searchInput").value.toLowerCase();
            const tableRows = document.querySelectorAll(".table tbody tr");

            tableRows.forEach(function(row) {
                const clientName = row.querySelector("td:first-child").textContent.toLowerCase();
                const clientInfo = row.querySelector("td:nth-child(2)").textContent.toLowerCase();

                if (clientName.includes(searchInput) || clientInfo.includes(searchInput)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>

    </div>
{% endblock %}
