{% extends 'layout/base.html' %}

{% block title %}Détail Client{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul class="message-list">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">{{ client.nom }}</h2>
        </div>

        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="client-details-tab" data-toggle="tab" href="#client-details">DÉTAIL CLIENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="consomption-tab" data-toggle="tab" href="#consomption">HISTORIQUE CONSOMATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="avoir-tab" data-toggle="tab" href="#avoir">HISTORIQUE CREDIT</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Client Details Tab -->
            <div class="tab-pane fade show active" id="client-details">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-2"><strong>NOM : </strong> {{ client.nom }} </p>
                            <p class="mb-2"><strong>PRENOM : </strong> {{ client.prenom }}</p>
                            <p class="mb-2"><strong>DATE DE NAISSANCE : </strong> {{ client.datenaissance |date:"d/m/Y" }}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="card {% if client.total_avoir_client == 0 %}bg-danger{% else %}bg-warning{% endif %} mb-3">
                                <div class="card-body">
                                    <p class="mb-2"><strong>SOLDE CREDIT :</strong> {{ client.total_avoir_client |floatformat:2 }} DH</p>
                                </div>
                            </div>
                            <!-- Buttons for Ajouter Avoir and Consommer Avoir -->
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Consomption History Tab -->
            <div class="tab-pane fade" id="consomption">
                <div class="card-body">
                    <h5 class="card-title">HISTORIQUE DES CONSOMMATIONS</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                   
                                    <th scope="col">DESIGNATION </th>
                                    <th scope="col">CODE BARRE</th>
                                      <th scope="col">PRIX ACHAT </th>
                                    <th scope="col">PRIX VENTE</th>
                                    <th scope="col">CREATEUR</th>
                                    <th scope="col">DATE AJOUT</th>
                                    <th scope="col">FACTURE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consomation in consommations %}
                                <tr>
                                   
                                    <td>{{ consomation.designation }}</td>
                                    <td>{{ consomation.code_barre }}</td>
                                    <td>{{ consomation.prix_achat }}</td>
                                     <td>{{ consomation.prix_vente }}</td>
                                     <td>{{ consomation.user }}</td>
                                    <td>{{ consomation.date_ajout |date:"d-m-Y" }}</td>
                                    {% if consomation.facture %}
                                    <td>
                                        <a href="{{ consomation.facture.url }}" target="_blank">Voir la facture</a>

                                    </td>
                                    {% endif%}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Avoir History Tab -->
            <div class="tab-pane fade" id="avoir">
                <div class="card-body">
                    <h5 class="card-title">HISTORIQUE DES CRÉDITS</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">MONTANT</th>
                                    <th scope="col">DATE AJOUT</th>
                                    <th scope="col">CREATEUR</th>
                                    <th scope="col">FACTURE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for avoir in avoirs %}
                                <tr>
                                    <td>{{ avoir.montant }}</td>
                                    <td>{{ avoir.date_ajout |date:"d-m-Y" }}</td>
                                    <td>{{ avoir.user }}</td>
                                    <td>
                                        <a href="{{ avoir.facture.url }}" target="_blank">Voir la facture</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="mt-3">
        <a href="{% url 'ajouter_avoir' client.id %}" class="btn btn-primary mr-2">AJOUTER CREDIT</a>
        <a href="{% url 'consommer_avoir' client.id %}" class="btn btn-success">AJOUTER CONSOMATION </a>
    </div>
</div>

<!-- JavaScript to handle Bootstrap tabs -->
<script>
    $(document).ready(function(){
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>
{% endblock %}