{% extends 'layout/base.html' %}
{% load tz %}
{% block title %}Ajouter Avoir{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0 text-center">AJOUTER FAMILLE</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="famille">NOM FAMILLE</label>
                            <input type="text" class="form-control" id="famille" name="famille" required oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="is_facture">FAMILLE ACTIVE</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_active" name="is_active">
                                <label class="form-check-label" for="is_active">OUI</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="is_facture">BESOIN DE PIECE JOINT</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_facture" name="is_facture">
                                <label class="form-check-label" for="is_facture">OUI</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="is_facture">BESOIN DE CODE BARRE</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_barre" name="is_barre">
                                <label class="form-check-label" for="is_facture">OUI</label>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                           
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-check"></i> VALIDER AJOUT
                            </button>
                            <a href="javascript:history.back()" class="btn btn-secondary">ANNULER</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
