{% extends 'base_bl.html' %}

{% block title %} BL app {% endblock %}

{% block content %}
    <div class="container mt-4">

        <div class="container">
            <div class="card">
                <div class="card-header" style="background-color: #4CAF50; color: white;">
                    <h2 class="mb-0">AJOUT D'UN BON DE LIVRAISON</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Row 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="nomClientCombo">NOM CLIENT</label>
                                <div class="input-group">
                                    <select class="custom-select" id="client" name="client" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.nom }}-{{ client.prenom }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Row 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="libele1">L'OEIL DROIT</label>
                            </div>
                        </div>
                        <!-- ------------------Ligne1 BL ---------------------------------------------- -->
                        <!-- Row 2 -->
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="categorie">Categorie</label>
                                <select class="form-control selectpicker" id="categorie_d" name="categorie_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.famille }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group col-md-2">
                                <label for="produit">Produit</label>
                                <select class="form-control selectpicker" id="produit_d" name="produit_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="sphere">Sphere</label>
                                <select class="form-control" id="sphere_d" name="sphere_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in sphere_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="categorie1">Cylindre </label>
                                <select class="form-control" id="cylindre_d" name="cylindre_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in cylindre_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="axe">Axe </label>
                                <select class="form-control" id="axe_d" name="axe_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in axe_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="axe">Quatité </label>
                                <select class="form-control" id="quatite_d" name="quatite_d" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in quantite_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- ... other form groups ... -->
                        </div>
                        <br>

                        <!-- Row 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="libele1">L'OEIL GAUCHE</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="categorie1">Categorie</label>
                                <select class="form-control" id="categorie_g" name="categorie_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.famille }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="categorie1">Produit</label>
                                <select class="form-control" id="produit_g" name="produit_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="sphere">Sphere</label>
                                <select class="form-control" id="sphere_g" name="sphere_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in sphere_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="categorie1">Cylindre </label>
                                <select class="form-control" id="cylindre_g" name="cylindre_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in cylindre_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="axe">Axe </label>
                                <select class="form-control" id="axe_g" name="axe_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in axe_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="axe">Quatité </label>
                                <select class="form-control" id="quatite_g" name="quatite_g" required>
                                    <option value="" disabled selected>Choose</option>
                                    {% for value in quantite_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- ... other form groups ... -->
                        </div>
                        <br>

                        <!-- Add more rows as needed -->

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-success">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
