<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bon de Commande</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body class="container-fluid">
    <div style="display: flex; justify-content: space-between;">

        <div style="width: 48%;">
            <div class="card">
                <div class="card-body">
                    {{ bon_commande }}
                    <h5 class="card-title">Your Store Name</h5>
                    <p class="card-text">123 Store Street, City</p>
                    <p class="card-text">Phone: (123) 456-7890</p>
                </div>
            </div>
        </div>
    

        <div style="width: 48%;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your Store Name</h5>
                    <p class="card-text">123 Store Street, City</p>
                    <p class="card-text">Phone: (123) 456-7890</p>
                </div>
            </div>
        </div>
    </div>
    
    

   
    <h1 class="mt-4">Bon de Commande</h1>
    <table class="table">
        <tr>
            <th>Reference</th>
            <th>Designation</th>
            <th>Sphere</th>
            <th>Cylindre</th>
            <th>Axe</th>
            <th>OEIL</th>
            <th>Qte</th>
        </tr>
        <tr>
            <td>{{bon_commande.produit_d.id}}</td>
            <td>{{bon_commande.produit_d.nom}}</td>
            <td>{{bon_commande.sphere_d}}</td>
            <td>{{bon_commande.cylindre_d}}</td>
            <td>{{bon_commande.axe_d}}</td>
            <td>DROIT</td>

            <td>{{bon_commande.quatite_d}}</td>
        </tr>
        <tr>
            <td>{{bon_commande.produit_g.id}}</td>
            <td>{{bon_commande.produit_g.nom}}</td>
            <td>{{bon_commande.sphere_g}}</td>
            <td>{{bon_commande.cylindre_g}}</td>
            <td>{{bon_commande.axe_g}}</td>
            <td>GAUCHE</td>
            <td>{{bon_commande.quatite_g}}</td>
        </tr>
        

    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
