<!-- templates/repertoire_list.html -->

{% extends 'layout/base.html' %}

{% block title %}Liste des répertoires{% endblock %}

{% block content %}
{% load tz %}  {# Charger les filtres de fuseau horaire #}
<style>

tr.success {
    background-color: lightgreen; /* Vert léger */
    color: black;
}

tr.warning {
    background-color: #ffe6b3; /* Orange léger */
    color: black;
}

tr.danger {
    background-color: lightcoral; /* Rouge léger */
    color: black;
}

.text-black {
    color: rgb(9, 0, 128) !important;
}

</style>
<div class="container mt-4">
    
    {% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
 {% endif %}
    <h1 class="text-center mb-4">GESTION DES RETOURS </h1>
              <a href="{% url 'add_retour' %}" class="btn btn-primary mb-4">
                    <i class="fas fa-plus"></i> AJOUTER RETOUR
                </a>
                <a href="{% url  'retour_list' %}" class="btn btn-success mb-4">
                    <i class="fas fa-check"></i> CONSULTER LES RETOURS NON VALIDE
                </a>

               
                
                

                
                

    <!-- Formulaire de recherche -->

    <div class="card">
        <div class="card-body">
          
            <form id="searchForm" action="{% url 'consultation_list_retour' %}" method="GET">
                
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="searchInput" class="sr-only">Rechercher par nom... :</label>
                        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Entrez le nom"  value="{{ search_query }}" oninput="this.value = this.value.toUpperCase()">
                    </div>
                    
                    <div class="col-md-2"> <button type="submit" class="btn btn-primary">RECHERCHE</button></div>
                </div>
                
            </form>
        </div>
    </div>

    <!-- Tableau des répertoires -->
    <table class="table table-bordered table-hover">
        <thead style="background-color: #007BFF; color: #FFFFFF;">
            <tr>
                
                <th>DATE</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>FOURNISSEUR</th>
                <th>MARQUE</th>
                <th>DESIGNATION</th>
                <th>CODE BARRE</th>
                <th>AVOIR</th>
                <th>ACTION</th>
                
            </tr>
        </thead>
        <tbody>
            {% for retour in retours %}
           
            <tr class="success">
                <td>{{ retour.date | date:"d-m-Y" }}</td>
                <td>{{ retour.nom|upper }}</td>
                <td>{{ retour.prenom|upper }}</td>
                <td>{{ retour.fournisseur|upper }}</td>
                <td>
                    {% if retour.marque %}
                    {{ retour.marque|upper }}
                    {% else %}
                    -
                    {% endif %}

                </td>
                <td>
                    {% if retour.designation %}
                    {{ retour.designation }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if retour.code %}
                    {{ retour.code }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                {% if retour.facture %}
                            <a href="{{ retour.facture.url }}" target="_blank">VOIR L'AVOIR</a>
                            
                            {% else %}
                           -
                  {% endif %}  
                <td>
                    <a href="{% url 'edit_retour' id=retour.id %}?previous_url={{ request.path }}" class="text-warning"><i class="bi bi-pencil text-black"></i></a>
                     
            
                 {% if retour.facture %}
                           
                    {% else %}
                    
                    <a href="{% url 'valider_retour' id=retour.id %}" class="text-warning"><i class="bi bi-check-circle text-black"></i></a>
                  {% endif %} 
                 
                 

                 
                 
                </td>
                
            </tr>

            
            {% endfor %}
        </tbody>
    </table>

 
</div>
{% endblock %}
