{% extends 'layout/base.html' %}

{% block title %}Liste des répertoires{% endblock %}

{% block content %}
{% load tz %}  {# Charger les filtres de fuseau horaire #}
<style>
    
#retoursTable thead {
    position: sticky;
    top: 0;
    background-color: #007BFF;
    color: #FFFFFF;
}
#retoursTable {
    border-collapse: collapse;
}

#retoursTable th, #retoursTable td {
    border: 1px solid #ddd; /* Choisissez une couleur adaptée */
    padding: 8px; /* Ajustez selon vos besoins */
}
#retoursTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Choisissez une couleur de fond */
}

#retoursTable th, #retoursTable td {
    width: 150px; /* Ajustez selon vos besoins */
}
#retoursTable {
    overflow-x: auto;
}
    /* Réduire la largeur de la colonne DESIGNATION */
    .designation-col {
        max-width: 100px; /* ou toute autre valeur souhaitée */
        overflow: hidden;
        text-overflow: ellipsis; /* Ajouter des points de suspension si le texte dépasse */
        white-space: nowrap; /* Empêcher le texte de se retourner à la ligne */
    }

    .space {
        margin-right: 6px; /* ou tout autre valeur pour l'espace désiré */
    }

    tr.success {
        background-color: lightgreen; /* Vert léger */
        color: black;
    }

    tr.warning {
        background-color: #ffe6b3; /* Orange léger */
        color: black;
    }

    tr.danger {
        background-color: lightcoral; /* Rouge léger */
        color: black;
    }

    .text-black {
        color: rgb(9, 0, 128) !important;
    }
</style>
<div class="container mt-4">
    
  
    {% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
 {% endif %}
 <h1 class="text-center mb-4">ÉTAT DES RETOURS NON VALIDES</h1>
  
 <a href="{% url 'add_retour' %}" class="btn btn-primary mb-4">
    <i class="fas fa-plus"></i> AJOUTER RETOUR
</a>

    <a href="{% url  'consultation_list_retour' %}" class="btn btn-success mb-4">
        <i class="fas fa-check"></i> CONSULTER LES RETOURS VALIDES
    </a>

    <!-- Formulaire de recherche -->

    <div class="card">
        <div class="card-body">
          
            <form id="searchForm" action="{% url 'retour_list' %}" method="GET">
                
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="searchInput" class="sr-only">Rechercher par nom... :</label>
                        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Entrez le nom"  value="{{ search_query }}" oninput="this.value = this.value.toUpperCase()">
                    </div>
                    <div class="form-group col-md-5">          
                       
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="rougeCheckbox" name="couleur[]" value="rouge" {% if 'rouge' in couleurs %}checked{% endif %}>
                            <label class="form-check-label" for="rougeCheckbox">{{"Rouge"|upper}}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="orangeCheckbox" name="couleur[]" value="orange" {% if 'orange' in couleurs %}checked{% endif %}>
                            <label class="form-check-label" for="orangeCheckbox">{{"Orange"|upper}}</label>
                        </div>
                    </div>
                    <div class="col-md-2"> <button type="submit" class="btn btn-primary">RECHERCHE</button></div>
                </div>
                
            </form>
        </div>
    </div>

    <!-- Tableau des répertoires -->
    <table class="table table-bordered table-hover" id="retoursTable">
        <thead style="background-color: #007BFF; color: #FFFFFF;">
            <tr>
                
                <th>DATE</th>
                <th>NOM</th>
                <th>PRENOM</th>
               
                <th>FOURNISSEUR</th>
                <th>MARQUE</th>
                <th class="designation-col">DESIGNATION</th>
                <th>CODE BARRE</th>
         
                <th>ACTION</th>
                
            </tr>
        </thead>
        <tbody>
            {% for retour in retours %}
           
            {% if retour.facture %}
            <tr class="success">
            {% elif retour.jours_ecoules >= 0 and retour.jours_ecoules <= 25 %}
                <tr class="warning">
            {% else %}
                <tr class="danger">
            {% endif %}
        

            <td>{{ retour.date | date:"d-m-Y" }}</td>
            <td>{{ retour.nom|upper }}</td>
            <td>{{ retour.prenom|upper }}</td>
            <td>{{ retour.fournisseur|upper }}</td>
            <td>
                {% if retour.marque %}
                {{ retour.marque|upper }}
                {% else %}
                -
                {% endif %}

            </td>
            <td class="designation-col">
                {% if retour.designation %}
                {{ retour.designation }}
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {% if retour.code %}
                {{ retour.code }}
                {% else %}
                -
                {% endif %}
            </td>
              
            <td>
                <a href="{% url 'edit_retour' id=retour.id %}?previous_url={{ request.path }}" class="text-warning"><i class="bi bi-pencil text-black"></i></a>
                <span class="space"></span>
                {% if user.is_superuser %}
                {% if not retour.facture %}   
                <a href="{% url 'valider_retour' id=retour.id %}" class="text-warning"><i class="bi bi-check-circle text-black"></i></a>
                {% endif %} 
                {% endif %}
            </td>
            
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Aucun retour trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 
</div>
{% endblock %}
